In [2]:
%load_ext autotimebar

Label(value='0s')

In [37]:
import matplotlib.pyplot as plt
import pandas as pd
import json
import numpy as np

%matplotlib inline

plt.style.use('seaborn-v0_8-dark-palette')

with open("ResultsJsons/results_22_06_2024__20_01_03.json", "r") as f:
    results = json.load(f)

maps = results["maps"]
possible_number_of_tasks = results["tasks_num"]
possible_number_of_task_freq = results["tasks_frequency"]
possible_number_of_agents = results["agents_num"]
possible_number_of_starts = results["start_num"]
possible_number_of_goals = results["goal_num"]

Label(value='0s')

In [46]:
def stats_of(map_dict):
    fixed = map_dict["fixed"]
    learning = map_dict["learning"]

    time = {
        "fixed": np.arange(0, len(fixed["costs"]), 1),
        "learning": np.arange(0, len(learning["costs"]), 1)
    }
    
    df_time_fixed = pd.DataFrame({
        "costs": fixed["costs"], "serv_times": fixed["serv_times"], "pickup_to_goal_times": fixed["pickup_to_goal_times"],
        "start_to_pickup_times": fixed["start_to_pickup_times"], "runtimes": fixed["runtimes"], "time": time["fixed"]
    }, index=time["fixed"])
    
    df_time_learning = pd.DataFrame({
        "costs": learning["costs"], "serv_times": learning["serv_times"], "pickup_to_goal_times": learning["pickup_to_goal_times"],
        "start_to_pickup_times": learning["start_to_pickup_times"], "runtimes": learning["runtimes"], "time": time["learning"]
    }, index=time["learning"])
    
    df_tasks_fixed = pd.DataFrame({
        "estimated": fixed["estimated_costs"], "real": fixed["real_costs"]
    })
    
    df_tasks_learning = pd.DataFrame({
        "estimated": learning["estimated_costs"], "real": learning["real_costs"]
    })
    
    assert fixed['agents'] == learning['agents'] and fixed['tasks'] == learning['tasks'] and fixed['map_name'] == learning[
        "map_name"] and fixed['task_frequency'] == learning['task_frequency'] and fixed['pickup'] == learning['pickup'] and \
           fixed['goal'] == learning['goal']
    
    config = {
        "agents": fixed["agents"], "tasks": fixed["tasks"], "map": fixed["map_name"],
        "pickup": fixed["pickup"], "goal": fixed["goal"], "task_freq": fixed["task_frequency"]
    }
    
    return config, df_time_fixed, df_time_learning, df_tasks_fixed, df_tasks_learning

for my_map in maps:
    print("Run_id:", my_map["run_id"])
    config, df_fixed, df_learning, df_fixed_costs, df_learning_costs = stats_of(my_map)
    print(config)
    print(df_fixed_costs)
    print(df_learning_costs)
    print(df_fixed)
    print(df_learning)

Label(value='0s')

Run_id: input_warehouse_mid_with_middle_corridors_agents_20_pickup_24_goal_14_tasks_80
{'agents': 20, 'tasks': 80, 'map': 'input_warehouse_mid_with_middle_corridors', 'pickup': 24, 'goal': 14, 'task_freq': 0.2}
        estimated  real
task1          17    17
task3          43    43
task2          25    25
task4           7     7
task5          46    46
...           ...   ...
task79         15    15
task76         23    23
task72         38    38
task78         46    46
task80         22    22

[80 rows x 2 columns]
        estimated  real
task2          12    13
task1          15    15
task3          21    23
task4          33    33
task5          17    17
...           ...   ...
task78         23    23
task77         66    66
task79         18    19
task76         54    54
task80         54    54

[80 rows x 2 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.034441
1       60    0.000000              0.000000               0.000000  0.034496
2       80    0.000000              0.000000               0.000000  0.037303
3      100    0.000000              0.000000               0.000000  0.037354
4      120    0.000000              0.000000               0.000000  0.039739
..     ...         ...                   ...                    ...       ...
469   9420   38.590618             27.891258              13.194030  1.201608
470   9440   38.634043             27.878723              13.244681  1.203270
471   9460   38.677282             27.866242              13.295117  1.204643
472   9480   38.720339             27.853814              13.345339  1.204988
473   9500   38.797040             27.892178              13.395349  1.207617

     time
0       0
1       1
2       2
3       3
4       4
..    ...
469   469
470   470
471   471
472   472
473   473

[474 rows x 6 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.053931
1       60    0.000000              0.000000               0.000000  0.053976
2       80    0.000000              0.000000               0.000000  0.055387
3      100    0.000000              0.000000               0.000000  0.055886
4      120    0.000000              0.000000               0.000000  0.057827
..     ...         ...                   ...                    ...       ...
496   9960   37.026210             29.945565              18.808468  1.241096
497   9980   37.100604             30.018109              18.861167  1.243027
498  10000   37.174699             30.090361              18.913655  1.244118
499  10020   37.248497             30.162325              18.965932  1.245641
500  10040   37.372000             30.210000              19.018000  1.248098

     time
0       0
1       1
2       2
3       3
4       4
..    ...
496   496
497   497
498   498
499   499
500   500

[501 rows x 6 columns]
Run_id: input_warehouse_mid_with_middle_corridors_agents_24_pickup_24_goal_14_tasks_80
{'agents': 24, 'tasks': 80, 'map': 'input_warehouse_mid_with_middle_corridors', 'pickup': 24, 'goal': 14, 'task_freq': 0.2}
        estimated  real
task5          13    13
task4          11    14
task3          11    11
task2          15    17
task7          46    46
...           ...   ...
task76         21    23
task78         20    26
task79         64    66
task80         31    31
task77         54    54

[80 rows x 2 columns]
        estimated  real
task1          43    43
task2          36    36
task3           9     9
task7          15    15
task4          21    21
...           ...   ...
task78         22    22
task68         38    38
task79         34    34
task80         17    17
task75         26    28

[80 rows x 2 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.051559
1       72    0.000000              0.000000               0.000000  0.051609
2       96    0.000000              0.000000               0.000000  0.055292
3      120    0.000000              0.000000               0.000000  0.056406
4      144    0.000000              0.000000               0.000000  0.060429
..     ...         ...                   ...                    ...       ...
476  11472   36.869748             28.292017              15.747899  1.490766
477  11496   36.930818             28.371069              15.855346  1.493479
478  11520   36.991632             28.449791              15.962343  1.494020
479  11544   37.052192             28.528184              16.068894  1.495833
480  11568   37.227083             28.581250              16.175000  1.500029

     time
0       0
1       1
2       2
3       3
4       4
..    ...
476   476
477   477
478   478
479   479
480   480

[481 rows x 6 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.057054
1       72    0.000000              0.000000               0.000000  0.057102
2       96    0.000000              0.000000               0.000000  0.060082
3      120    0.000000              0.000000               0.000000  0.061541
4      144    0.000000              0.000000               0.000000  0.062512
..     ...         ...                   ...                    ...       ...
376   9072   28.946809             22.231383              10.311170  1.148101
377   9096   28.978780             22.246684              10.318302  1.150399
378   9120   29.010582             22.261905              10.325397  1.151026
379   9144   29.031662             22.292876              10.332454  1.153692
380   9168   29.205263             22.334211              10.339474  1.157482

     time
0       0
1       1
2       2
3       3
4       4
..    ...
376   376
377   377
378   378
379   379
380   380

[381 rows x 6 columns]
Run_id: input_warehouse_mid_agents_20_pickup_24_goal_14_tasks_80
{'agents': 20, 'tasks': 80, 'map': 'input_warehouse_mid', 'pickup': 24, 'goal': 14, 'task_freq': 0.2}
        estimated  real
task1          24    27
task2          17    17
task3          21    21
task5          19    19
task4          23    24
...           ...   ...
task71         26    26
task78         30    30
task75         14    14
task77         38    38
task80         50    50

[80 rows x 2 columns]
        estimated  real
task2          25    25
task3          27    30
task4          13    13
task1          14    14
task5          41    44
...           ...   ...
task76         29    29
task79         23    27
task78         44    48
task80         13    13
task77         40    40

[80 rows x 2 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.050097
1       60    0.000000              0.000000               0.000000  0.050137
2       80    0.000000              0.000000               0.000000  0.051944
3      100    0.000000              0.000000               0.000000  0.052440
4      120    0.000000              0.000000               0.000000  0.054660
..     ...         ...                   ...                    ...       ...
540  10840   35.740741             25.835185              11.792593  1.469289
541  10860   35.817006             25.857671              11.850277  1.470932
542  10880   35.892989             25.880074              11.907749  1.471435
543  10900   35.968692             25.902394              11.965009  1.473373
544  10920   36.073529             25.946691              12.022059  1.476537

     time
0       0
1       1
2       2
3       3
4       4
..    ...
540   540
541   541
542   542
543   543
544   544

[545 rows x 6 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.095823
1       60    0.000000              0.000000               0.000000  0.095866
2       80    0.000000              0.000000               0.000000  0.096920
3      100    0.000000              0.000000               0.000000  0.097908
4      120    0.000000              0.000000               0.000000  0.098757
..     ...         ...                   ...                    ...       ...
532  10680   36.671053             28.109023              12.563910  1.511202
533  10700   36.714822             28.146341              12.654784  1.512742
534  10720   36.758427             28.183521              12.745318  1.513550
535  10740   36.801869             28.220561              12.835514  1.514395
536  10760   36.921642             28.242537              12.925373  1.518188

     time
0       0
1       1
2       2
3       3
4       4
..    ...
532   532
533   533
534   534
535   535
536   536

[537 rows x 6 columns]
Run_id: input_warehouse_mid_agents_24_pickup_24_goal_14_tasks_80
{'agents': 24, 'tasks': 80, 'map': 'input_warehouse_mid', 'pickup': 24, 'goal': 14, 'task_freq': 0.2}
        estimated  real
task1          21    21
task2          21    21
task4          21    21
task5          62    62
task6          23    23
...           ...   ...
task78         38    38
task71         30    30
task74         34    34
task69         62    62
task77         58    58

[80 rows x 2 columns]
        estimated  real
task1          31    31
task4          17    17
task5          26    29
task2          27    29
task3          19    20
...           ...   ...
task50         35    37
task75         46    49
task77         50    50
task71         46    53
task80         54    54

[80 rows x 2 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.068716
1       72    0.000000              0.000000               0.000000  0.068762
2       96    0.000000              0.000000               0.000000  0.072861
3      120    0.000000              0.000000               0.000000  0.073860
4      144    0.000000              0.000000               0.000000  0.077760
..     ...         ...                   ...                    ...       ...
683  16440   68.117130             31.746706              43.609078  2.287361
684  16464   68.302632             31.790936              43.798246  2.289634
685  16488   68.487591             31.835036              43.986861  2.290193
686  16512   68.672012             31.879009              44.174927  2.292979
687  16536   68.908297             31.917031              44.362445  2.297173

     time
0       0
1       1
2       2
3       3
4       4
..    ...
683   683
684   684
685   685
686   686
687   687

[688 rows x 6 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.092325
1       72    0.000000              0.000000               0.000000  0.092372
2       96    0.000000              0.000000               0.000000  0.095857
3      120    0.000000              0.000000               0.000000  0.095905
4      144    0.000000              0.000000               0.000000  0.099265
..     ...         ...                   ...                    ...       ...
464  11184   62.517241             31.519397              33.032328  1.930429
465  11208   62.679570             31.565591              33.152688  1.932447
466  11232   62.841202             31.611588              33.272532  1.933434
467  11256   63.002141             31.657388              33.391863  1.935230
468  11280   63.173077             31.705128              33.510684  1.940957

     time
0       0
1       1
2       2
3       3
4       4
..    ...
464   464
465   465
466   466
467   467
468   468

[469 rows x 6 columns]
Run_id: input_warehouse_big_with_middle_corridors_agents_10_pickup_24_goal_14_tasks_80
{'agents': 10, 'tasks': 80, 'map': 'input_warehouse_big_with_middle_corridors', 'pickup': 24, 'goal': 14, 'task_freq': 0.2}
        estimated  real
task2          44    44
task3          17    17
task4          39    43
task1          27    28
task10         28    28
...           ...   ...
task40        108   108
task78         38    38
task67         62    62
task53         50    50
task65         66    66

[80 rows x 2 columns]
        estimated  real
task1          57    57
task3          58    58
task4          25    29
task2          55    55
task5          41    45
...           ...   ...
task63         67    67
task9          66    66
task42         56    56
task66         50    50
task64         63    63

[80 rows x 2 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.078377
1       30    0.000000              0.000000               0.000000  0.078403
2       40    0.000000              0.000000               0.000000  0.078429
3       50    0.000000              0.000000               0.000000  0.078455
4       60    0.000000              0.000000               0.000000  0.078480
..     ...         ...                   ...                    ...       ...
583   5850   95.082333             44.787307              64.301887  1.433749
584   5860   95.458904             44.895548              64.544521  1.434721
585   5870   95.834188             45.003419              64.786325  1.435693
586   5880   96.208191             45.110922              65.027304  1.437652
587   5890   96.507666             45.146508              65.267462  1.439919

     time
0       0
1       1
2       2
3       3
4       4
..    ...
583   583
584   584
585   585
586   586
587   587

[588 rows x 6 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.103889
1       30    0.000000              0.000000               1.000000  0.103918
2       40    0.000000              0.000000               1.000000  0.103945
3       50    0.000000              0.000000               1.000000  0.103971
4       60    0.000000              0.000000               1.000000  0.103999
..     ...         ...                   ...                    ...       ...
820   8220  156.059756             43.221951             127.881707  1.849106
821   8230  156.263094             43.230207             128.205847  1.850962
822   8240  156.465937             43.238443             128.529197  1.851886
823   8250  156.668287             43.246659             128.851762  1.852354
824   8260  157.032767             43.270631             129.173544  1.855087

     time
0       0
1       1
2       2
3       3
4       4
..    ...
820   820
821   821
822   822
823   823
824   824

[825 rows x 6 columns]
Run_id: input_warehouse_big_agents_20_pickup_24_goal_14_tasks_80
{'agents': 20, 'tasks': 80, 'map': 'input_warehouse_big', 'pickup': 24, 'goal': 14, 'task_freq': 0.2}
        estimated  real
task2          19    19
task3          23    23
task4          59    60
task5          25    25
task1          19    19
...           ...   ...
task39         98    98
task62         70    73
task80         46    46
task75         70    70
task74         98    98

[80 rows x 2 columns]
        estimated  real
task4          35    40
task2          21    21
task3          31    34
task5          49    49
task7          19    19
...           ...   ...
task78         66    66
task73        114   114
task75         50    53
task62         66    67
task23         82    82

[80 rows x 2 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.316465
1       60    0.000000              0.000000               0.000000  0.316520
2       80    0.000000              0.000000               0.000000  0.316564
3      100    0.000000              0.000000               0.000000  0.316620
4      120    0.000000              0.000000               0.000000  0.316661
..     ...         ...                   ...                    ...       ...
599  12020  109.565943             48.397329              66.500835  3.615293
600  12040  109.785000             48.433333              66.698333  3.616589
601  12060  110.003328             48.469218              66.895175  3.617846
602  12080  110.220930             48.504983              67.091362  3.619123
603  12100  110.507463             48.587065              67.286899  3.628195

     time
0       0
1       1
2       2
3       3
4       4
..    ...
599   599
600   600
601   601
602   602
603   603

[604 rows x 6 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.267618
1       60    0.000000              0.000000               0.000000  0.267664
2       80    0.000000              0.000000               0.000000  0.269979
3      100    0.000000              0.000000               0.000000  0.270024
4      120    0.000000              0.000000               0.000000  0.271688
..     ...         ...                   ...                    ...       ...
562  11280   72.626335             43.649466              84.661922  4.064139
563  11300   72.840142             43.774423              85.190053  4.065797
564  11320   73.053191             43.898936              85.716312  4.067854
565  11340   73.265487             44.023009              86.240708  4.068662
566  11360   73.955830             44.090106              86.763251  4.078669

     time
0       0
1       1
2       2
3       3
4       4
..    ...
562   562
563   563
564   564
565   565
566   566

[567 rows x 6 columns]
Run_id: input_warehouse_big_agents_40_pickup_24_goal_14_tasks_80
{'agents': 40, 'tasks': 80, 'map': 'input_warehouse_big', 'pickup': 24, 'goal': 14, 'task_freq': 0.2}
        estimated  real
task3          15    15
task5          27    27
task1          35    37
task2          33    33
task8          25    25
...           ...   ...
task76         66    66
task78         58    60
task75         34    43
task71         82    82
task80         74    74

[80 rows x 2 columns]
        estimated  real
task3          41    44
task2          27    27
task4          33    33
task1          17    17
task6          31    31
...           ...   ...
task73         42    42
task76         54    54
task80         42    46
task71         50    50
task68         54    54

[80 rows x 2 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.417687
1      120    0.000000              0.000000               0.000000  0.417758
2      160    0.000000              0.000000               0.000000  0.431620
3      200    0.000000              0.000000               0.000000  0.434490
4      240    0.000000              0.000000               0.000000  0.447382
..     ...         ...                   ...                    ...       ...
597  23960   63.584590             44.465662              27.435511  7.937058
598  24000   63.657191             44.501672              27.526756  7.942415
599  24040   63.874791             44.564274              27.617696  7.959293
600  24080   64.091667             44.626667              27.708333  7.967773
601  24120   64.244592             44.675541              27.798669  7.982082

     time
0       0
1       1
2       2
3       3
4       4
..    ...
597   597
598   598
599   599
600   600
601   601

[602 rows x 6 columns]
     costs  serv_times  pickup_to_goal_times  start_to_pickup_times  runtimes  \
0        0    0.000000              0.000000               0.000000  0.251625
1      120    0.000000              0.000000               0.000000  0.251697